[Desktop Entry]
Type=Application
Version=1.0
Name=Instalar NetOps Studio
GenericName=Instalador
Comment=Instala o NetOps Studio (Network Operations) no seu computador
Exec=bash "/home/jon/profissa-sdn-framework-1/desktop/install.sh"
Icon=utilities-terminal
Terminal=true
StartupNotify=true
Categories=System;
Keywords=instalar;netops;SDN;network;
